<h2>Painel Admin:</h2>
</hr>
<a href="/admin/posts"><button class="btn btn-success">Página de Posts</button></a>
</hr>
<a href="/admin/categories"><button class="btn btn-success">Página de Categorias</button></a>